.Banner{

}

.bannerContainer {
    width: 100%;
    height: 910px;
    background-image: url("../img/banner2.png");
}

.container-banner{
    margin-top: 350px;
    margin-bottom: 70px;
}

#nameText{
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 300px;
    color: white;
    font-weight: bold;
    vertical-align: text-top;

}

.typewrite{
    padding-left: 170px;
    color: white;
    font-size: 5em;
    font-weight: 900;
}
