.MyExperience{

}


.experience-item {
    position: relative;
    margin: 30px 30px;
}

.experience-circle {
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    border-radius: 100%;
    position: absolute;
    left: -60px;
    color: #fff;
    background: #f78733;
    padding-top: 25px;
    box-shadow: -5px 6px 4px 0px rgba(90, 91, 95, 0.3);
}

.experience-circle i {
    display: block;
    font-size: 40px;
}

.experience-company i {
    font-size: 40px !important;
    margin-top: 15px !important;
}

.experience-circle p {
    font-size: 11px;
    margin-top: 5px;
}

.experience-content {
    margin-left: 80px;
    position: relative;
    background: #fff;
    border: 2px solid #f78733;
    border-radius: 6px;
    padding: 20px 25px;
}

.experience-content h4 {
    line-height: 30px;
}

.experience-content:after,
.experience-content:before {
    right: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.experience-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 12px;
    margin-top: -20px;
}

.experience-content:before {
    border-color: rgba(238, 238, 238, 0);
    border-right-color: #f78733;
    border-width: 16px;
    margin-top: -21px;
}

.experience-content p {
    color: #696969;
}

.experience-color-blue {
    border: 2px solid #f78733 !important;
}

.experience-color-blue:before {
    border-right-color: #f78733 !important;
}
